# Flutter/Dart
.buildlog/
.flutter-plugins
.pub-cache/
.pub/
.idea/
.vscode/
*.log

# Build outputs
/build/
**/ios/Flutter/.last_build_id
**/doc/api/
app.*.symbols
app.*.map.json

# Android build files
/android/app/debug
/android/app/profile
/android/app/release

# iOS and macOS
ios/Pods/
macos/Pods/
ios/.symlinks/
macos/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Misc
.DS_Store
*.swp
*.class
*.pyc

# Generated coverage and metadata
/coverage/
migrate_working_dir/
